<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best NewsReview website </title>
        {% endif %}
    </head>
    <body>
      <!-- Gneral news section  -->
             <h3> general</h3>
              <ul>
                 {% for general_sources in general %}
                     <li>{{ general_sourses.title}}</li>
                 {% endfor %}
             </ul>
    </body>
</html
