{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
<div class="col-xs-3">
    <a href="/news/{{source.id}}">
        <li>{{ source.name}}</li>
        {# <li>{{source.id}}</li>#}
</div>
    {% endfor %}

{% endmacro %}
{% macro displayArticleList(articles_list)%}

  {% for news in articles_list %}
    <div class="col-xs-3 news-card">
  <img src="{{news.urlToImage}}" alt="Image"class="img-responsive"/>
  <li class="text-center">

   <p>{{news.title}}</p>
     </li>
  </div>
  {% endfor %}

{% endmacro %}
